.movie_poster{
  width: 150px;
  height: 221px;
}

#container{
    width: 100vw;
}

#center_column{
    text-align: center;
}

@media (max-width: 800px) {
    .movie_poster {
        width: 19vw;
    }
}

@media (max-height: 600px) {
    .movie_poster {
        height: 35vh;
    }
}
